<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="row mt-4">
  <%= render 'tasks/index/status_column', title: 'Todo', tasks: @tasks.where(status: 'todo') %>
  <%= render 'tasks/index/status_column', title: 'Doing', tasks: @tasks.where(status: 'doing') %>
  <%= render 'tasks/index/status_column', title: 'Done', tasks: @tasks.where(status: 'done') %>
  <%= render 'tasks/index/status_column', title: 'Trash', tasks: @tasks.where(status: 'trash') %>
</div>