<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="row mt-4">
  <div class="col-3">
    <h2>Todo</h2>

    <% @tasks.where(status: 'todo').each do |task| %> 
      <%= task.title %>
    <% end %>
  </div>

  <div class="col-3">
    <h2>Doing</h2>

    <% @tasks.where(status: 'doing').each do |task| %> 
      <%= task.title %>
    <% end %>
  </div>

  <div class="col-3">
    <h2>Done</h2>

    <% @tasks.where(status: 'done').each do |task| %> 
      <%= task.title %>
    <% end %>
  </div>

  <div class="col-3">
    <h2>Trash</h2>

    <% @tasks.where(status: 'trash').each do |task| %> 
      <%= task.title %>
    <% end %>
  </div>
</div>