<p id="notice"><%= notice %></p>

<h1>Responsibles</h1>

<table class="table mt-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibles.each do |responsible| %>
      <tr>
        <td scope="row"><%= responsible.name %></td>
        <td scope="row"><%= link_to 'Show', responsible %></td>
        <td scope="row"><%= link_to 'Edit', edit_responsible_path(responsible) %></td>
        <td scope="row"><%= link_to 'Destroy', responsible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Responsible', new_responsible_path, class: "btn btn-primary" %>
